/* fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Italic.ttf") format("ttf");
  }


  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Black.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 1000;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-BlackItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-BoldItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Light.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-LightItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-MediumItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-Thin.ttf") format("ttf");
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local("Roboto"), url("https://static.misakey.com/fonts/Roboto/Roboto-ThinItalic.ttf") format("ttf");
  }

html, body, .root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.menuContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menuList {
	min-width: 350px;
	overflow: auto;

}

.menuDivider {
	margin: 5px 0 !important;
}

.menuFooter {
	font-size: 0.67em;
	background: white !important;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 1px solid #DDD;
}

.deleteAccountModal {
	padding: 10px;
}

.buttonBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.fullWidth {
	width: 100% !important;
}

.contentAfterAppbar {
	padding-top: 64px;
}

.clear {
	clear: both;
}

.fullscreenErrorFallbackui {
	width: 100vw;
	height: 100vh;
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.fullscreenErrorFallbackuiContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center; 
}

.fullscreenErrorFallbackuiContent {
  max-width: 500px;
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}