.emptyCompany, .emptyItem {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.itemListToolbar button {
	margin-left: 12px;
	margin-right: 12px;
}

.itemsListItemDate {
	top: 10px;
	right: 10px;
	position: absolute;
}

.companyNameInAppBar, .itemNameInAppBar {
	margin-left: 15px !important;
}

.companyDetails, .itemDetails {
	height: calc(100vh - 64px) !important;
}

.companyDetails .container, .itemDetails .container {
	height: 100%;
	overflow: auto;
	background: #EEE;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

.companyDetails .container .informationMessageContainer, .itemDetails .container .informationMessageContainer {
	justify-self: flex-end;
	align-self: flex-end;
	margin-right: 25px;
	max-width: 500px;
	margin-top: 20px;
}

.companyDetails .container .informationMessage, .itemDetails .container .informationMessage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}

.companyDetails .container .informationMessage .tooltipMessage, .itemDetails .container .informationMessage .tooltipMessage {
	padding: 10px 15px;
}

.companyDetails .container .informationMessage .tooltipAvatar, .itemDetails .container .informationMessage .tooltipAvatar {
	margin-left: 15px;
	margin-right: 15px;
}

.dialogFlow {
	width: 100%;
}

.dialogFlow .messageContainer {
	display: flex;
}

.dialogFlow .messageContainer.messageFromUser {
	justify-content: flex-end;
}

.dialogFlow .messageContainer .message {
	padding: 10px 15px 5px 15px;
	margin-bottom: 15px;
	margin-right: 50px;
	max-width: 500px;
	min-width: 100px;
	margin-left: 15px;
}

.dialogFlow .messageContainer.messageFromUser .message {
	margin-right: 15px;
	margin-left: 50px;
}

.dialogFlow .message .messageDate {
	font-size: 0.8em !important;
	float: right;
	line-height: 21px;
	margin-left: 15px;
}

.dialogFlow .messageProgressBar {
	margin-top: 10px;
}


.dialogFlow .date {
	margin-top: 10px;
	margin-bottom: 10px;
}

.companiesListLogo {
	height: 35px;
}

.companiesListContainer {
	max-height: 100%;
	overflow: auto;
	padding:0 !important;
}

.companiesListLoadingContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chatActionGroup {
	display: flex;
	justify-content: flex-end;
	max-width: 545px;
	margin-left: 0px;
	margin-right: 0px;
}

.chatActionGroup .chatActionButton {
	margin-left: 15px;
	min-width: 100px;
}

.statusIcon {
	float: left;
	height: 0.7em !important;
	width: 0.7em !important;
	z-index: 1000;
	margin-left: -15px;
	margin-top: 30px;
	border-radius: 100px;
	border: 2px solid white;
	color: white;
}