
.headerBar {
	border-bottom: 1px solid #DDD;
}

.headerTitle {
	flex-grow: 1;
}

.onboardingLogoWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.onboardingLogoWrapper .onboardingLogo {
	max-height: 35px;
}

.containerCenter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 300px;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 50px;
}

.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mandateModal {
	width: 70%;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

@media (max-width: 768px) {	
	.mandateModal {
		width: 100%;
	}
}

.mandateModalHeader {
	display: flex;
	justify-content: space-between;
}

.formMandate {
	display: flex;
	flex-direction: column;
}
.mandateContainer {
	margin: 10px 20px 30px;
}

.signMandateButton {
	margin-top: 20px !important;
}

.signatureCanvas {
	border: 1px solid #CCC;
	background: rgba(220,220,220,0.5);
	border-radius: 10px;
	width: 100%;
	height: 150px;
}

.signatureLabel {
	margin-top: 20px !important;
	margin-bottom: -25px !important;
	margin-left: 5px !important;
}

.signaturePlaceholder {
	margin-top: 60px !important;
	margin-bottom: -80px !important;
	text-align: center;
}

.buttonsBar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: row !important;
}

.buttonsBarLeft {
	display: flex;
	justify-content: right;
	width: 100%;
	flex-direction: row !important;
}

.buttonsBarLeft button {
	margin-left: 15px;
}

.buttonsBar .grow {
	flex-grow: 1;
}

.keyGenerationButton {
	margin-top: 20px !important;
}