
.unlockLogoWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.unlockLogoWrapper .unlockLogo {
	max-height: 35px;
}

.drop-area {
	width: 100%;
	height: calc(100vh - 65px);
}

.sealContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sealContainerContent {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sealContainerContent h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.inputsKey {
	display: flex;
	width: 100%;
	align-items: flex-start;
}

.openFileExplorerButton {
	height: 56px;
	margin-left: 10px !important;
	box-shadow: none !important;
}

.buttonValidate {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

.errorMessage {
	padding: 10px 15px;
}

.unlockingLoader {
	margin-top: 25vh;
	margin-left: 25vh;
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}