.welcomeContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerBar {
	border: 0 !important;
}

.contentContainer {
	width: 100%;
	max-width: 350px;
	max-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	transition: width 1s;
}
.contentContainer.contentContainerLarge {
	max-width: 500px;
	transition: width 1s;
}

.emptyIconPlaceholder {
	display: block;
	width: 48px;
	height: 48px;
}

.idFormContainer {
	width: 100%;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infoLinks {
	width: 100%;
	margin-top: 10px !important;
}

.loginButtonGroup {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.DpoRegisterButtonGroup {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 25px;
}

.loginLogo {
	height: 35px;
	flex-shrink: 0;
}

.dpoCreateAccountModalWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dpoCreateAccountModal {
	max-width: 350px;
	min-height: 300px;
	padding: 20px;
}

.modalHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.placeHolder48px {
	width: 48px;
	height: 1px;
}

.logosGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.logosGroup .loginLogo {
	height: 30px;
}